.folder.display-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > * {
    margin-inline: 0.5rem;
  }

  .icon {
    font-size: 4rem;
  }

  .name {
    margin: 0 0.5rem;
  }
}

.folder.display-list {
  align-items: center;
  display: flex;

  & > * {
    margin-inline: 0.5rem;
  }

  .name {
    margin: 0.1rem 0;
  }
}

.folder.display-icons,
.folder.display-list {
  &:hover {
    background: lightblue;
    cursor: pointer;
  }
}
