.folder.display-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  & > * {
    margin-inline: 0.5rem;
  }

  .icon {
    font-size: 5rem;
    color: $tertiary-color;
  }

  .name {
    margin: 0 0.5rem;
  }
}

.folder.display-list {
  align-items: center;
  display: flex;

  & > * {
    margin-inline: 0.5rem;
  }

  .icon {
    font-size: 3rem;
    color: $tertiary-color;
  }

  .name {
    margin: 0.1rem 0;
  }
}

.folder.display-icons,
.folder.display-list {
  border-radius: 5px;

  &:hover {
    background: $primary-background-color;
    cursor: pointer;
  }
}
