.filepath {
  align-items: center;
  background: $secondary-background-color;
  border-radius: 10px;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem 4rem;

  & > * {
    margin-inline: 0.5rem;
  }

  .icon {
    font-size: 4rem;
    color: $tertiary-color;

    &:hover {
      cursor: pointer;
      user-select: none;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .path,
  .path-prefix {
    font-size: 2rem;
  }

  .display-style {
    font-size: 2rem;
  }
}
